/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Basic styling for header and navigation */
header {
    background-color: #ffffff;
    color: #000;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

/* Basic styling for sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-1 {
    display: flex;
    height: 500px;
    background-image: url(/Grupp-3/image/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    align-items: center;
}
.section-1 .container {
        background-color: #00000028;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        height: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.section-1 h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section-1 p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.section-2 {
    background-color: #FFFFFF;
}

.section-2 .container{ 
    display: flex;
}
.section-2  h2 {
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
}

.section-2 p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.section-2 img {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-3 h2{
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
}

.section-3 .container{
    display: flex;
    column-gap: 20px;
}

.section-3 img {
    max-width: 50%;
    max-height: 400px;
    margin: 55px auto;
}
/* Basic styling for footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
