<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width">
    <title>Project</title>

    <style>
        body {
            font-family: Courier, monospace;
            text-align: center;
        }
        </style>
</head>
<body>

    <h1>
        HOME
    </h1>
    <nav>
        <% if (user) { %>
            <p> Logged in as <%= user %>  <a href="/logout">logout</a></p>
        <% } else { %>
            <a href="/login.html">Login</a>
        <% } %>
    </nav>
    <a href="/submit_form.html">submit form</a>
    <form action="/logData" method="get">
        <button type="submit">Log Data</button>
    </form>

</body>
</html>